<h3>
    خوش آمدید
</h3>
<div class="d-flex align-items-center justify-content-center">
    <a asp-controller="Teachers" asp-action="Index">
        <button class="btn btn-sm me-2 btn-outline-success"
                type="button">
            ثبت نام
        </button>
    </a>
    <a asp-controller="Students" asp-action="Index">
        <button class="btn btn-sm me-2 btn-outline-primary"
                type="button">
            ورود
        </button>
    </a>
</div>