@model TeacherDTO

<h3>
    خوش آمدید
</h3>
<div class="d-flex align-items-center justify-content-center">
    <button class="btn btn-sm me-2 btn-outline-success" onclick="showSignupForm()"
            type="button">
        ثبت نام
    </button>
    <button class="btn btn-sm me-2 btn-outline-primary" onclick="showSigninForm()"
            type="button">
        ورود
    </button>
</div>

<div class="container-fluid signup-container w-50 d-flex align-items-center justify-content-center d-none" id="signup-form-container">
    <form class="w-100 d-flex flex-column" method="post" asp-controller="Teachers" asp-action="Signup">
        <hr />
        <div class="mb-3">
            <label for="FirstName" class="form-label">نام</label>
            <input type="text" class="form-control" asp-for="FirstName">
        </div>
        <div class="mb-3">
            <label for="LastName" class="form-label">نام خانوادگی</label>
            <input type="text" class="form-control" asp-for="LastName">
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">آدرس ایمیل</label>
            <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">رمز عبور</label>
            <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                   class="form-control" asp-for="Password" id="Password">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">تکرار رمز عبور</label>
            <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                   class="form-control" asp-for="ConfirmPassword" id="Password">
        </div>
        <div class="mb-3">
            <label for="LastName" class="form-label">رشته یا مهارت</label>
            <input type="text" class="form-control" asp-for="Skill">
        </div>
        <div class="mb-3">
            <label for="LastName" class="form-label">کد ملی</label>
            <input type="text" class="form-control" asp-for="NationalCode">
        </div>
        <div class="mb-3">
            <label for="LastName" class="form-label">سن</label>
            <input type="text" class="form-control" asp-for="Age">
        </div>
        <div class="mb-3">
            <label for="PhoneNumber" class="form-label">شماره موبایل</label>
            <input type="text" class="form-control" asp-for="PhoneNumber">
        </div>
        <div class="mb-3">
            <label for="Address" class="form-label">آدرس</label>
            <input type="text" class="form-control" asp-for="Address">
        </div>
        <div class="mb-3 form-check">
            <label for="">جنسیت</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Gender" value="male" id="Gender">
                <label class="form-check-label" for="Gender">
                    آقا
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Gender" value="female" id="Gender" checked>
                <label class="form-check-label" for="Gender">
                    خانم
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">ثبت نام</button>
    </form>
</div>

<div class="container-fluid signup-container w-50 d-flex align-items-center justify-content-center" id="signin-form-container">
    <form class="w-100 d-flex flex-column" asp-controller="Teachers" asp-action="Singin" method="post">
        <hr />
        <div class="mb-3">
            <label for="Email" class="form-label">آدرس ایمیل</label>
            <input type="text" class="form-control" placeholder="ایمیل" asp-for="Email" />
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">رمز عبور</label>
            <input type="password" class="form-control" placeholder="رمز عبور" asp-for="Password" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">ورود</button>
    </form>
</div>

<script src="~/js/teacher.js"></script>